# Created by .ignore support plugin (hsz.mobi)
### C template
# Prerequisites
*.d

# Object files
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
### C++ template

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
# Executables
### JetBrains template
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and WebStorm
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# User-specific stuff
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Sensitive or high-churn files
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

# Gradle
.idea/**/gradle.xml
.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
# .idea/modules.xml
# .idea/*.iml
# .idea/modules

# CMake
/cmake-build-debug/

# Mongo Explorer plugin
.idea/**/mongoSettings.xml

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# Editor-based Rest Client
.idea/httpRequests
### VisualStudioCode template
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

.build/*
/Lib/googletest/
将删除 .idea/DataStructure-Algorithm-Cpp.iml
将删除 .idea/codeStyles/codeStyleConfig.xml
将删除 .idea/encodings.xml
将删除 .idea/misc.xml
将删除 .idea/modules.xml
将删除 .idea/other.xml
将删除 .idea/vcs.xml
将删除 ADTs/experiments/practice_big_number/a.out
将删除 Lib/googletest/.clang-format
将删除 Lib/googletest/.gitignore
将删除 Lib/googletest/.travis.yml
将删除 Lib/googletest/BUILD.bazel
将删除 Lib/googletest/CMakeLists.txt
将删除 Lib/googletest/CONTRIBUTING.md
将删除 Lib/googletest/LICENSE
将删除 Lib/googletest/Makefile.am
将删除 Lib/googletest/README.md
将删除 Lib/googletest/WORKSPACE
将删除 Lib/googletest/appveyor.yml
将删除 Lib/googletest/ci/
将删除 Lib/googletest/configure.ac
将删除 Lib/googletest/googlemock/CMakeLists.txt
将删除 Lib/googletest/googlemock/CONTRIBUTORS
将删除 Lib/googletest/googlemock/LICENSE
将删除 Lib/googletest/googlemock/Makefile.am
将删除 Lib/googletest/googlemock/README.md
将删除 Lib/googletest/googlemock/cmake/
将删除 Lib/googletest/googlemock/configure.ac
将删除 Lib/googletest/googlemock/docs/
将删除 Lib/googletest/googlemock/include/
将删除 Lib/googletest/googlemock/msvc/
将删除 Lib/googletest/googlemock/scripts/
将删除 Lib/googletest/googlemock/src/
将删除 Lib/googletest/googlemock/test/
将删除 Lib/googletest/googletest/CMakeLists.txt
将删除 Lib/googletest/googletest/CONTRIBUTORS
将删除 Lib/googletest/googletest/LICENSE
将删除 Lib/googletest/googletest/Makefile.am
将删除 Lib/googletest/googletest/README.md
将删除 Lib/googletest/googletest/cmake/
将删除 Lib/googletest/googletest/codegear/
将删除 Lib/googletest/googletest/configure.ac
将删除 Lib/googletest/googletest/docs/
将删除 Lib/googletest/googletest/include/
将删除 Lib/googletest/googletest/m4/
将删除 Lib/googletest/googletest/msvc/
将删除 Lib/googletest/googletest/samples/
将删除 Lib/googletest/googletest/scripts/common.py
将删除 Lib/googletest/googletest/scripts/fuse_gtest_files.py
将删除 Lib/googletest/googletest/scripts/gen_gtest_pred_impl.py
将删除 Lib/googletest/googletest/scripts/gtest-config.in
将删除 Lib/googletest/googletest/scripts/pump.py
将删除 Lib/googletest/googletest/scripts/release_docs.py
将删除 Lib/googletest/googletest/scripts/upload.py
将删除 Lib/googletest/googletest/scripts/upload_gtest.py
将删除 Lib/googletest/googletest/src/
将删除 Lib/googletest/googletest/test/
将删除 Lib/googletest/googletest/xcode/
将删除 Lib/googletest/library.json
将删除 Lib/googletest/platformio.ini
